body{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #192325;
    flex-direction: column;
    margin: 0
}

header {
    display: flex;
    justify-content: space-between;
    background-color: red;
    width: 1650px;
    align-self: center;
    font-size: 13px;
    align-items: center;
    height: 60px;
}

.container{
    display: flex;
    align-self: center;
    border-radius: 30px;
    background-color: #f2f2f2;
    height: 750px;
    width: 1650px;
    margin-top: 30px;
}

footer {
    margin-top: 5px;
    display: flex;
    align-self: center;
    height: 80px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

img{
    height: 40px;
}

